@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

blockquote {
  padding: 1rem;
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-radius: 0.5rem;
  font-style: oblique;
}
