@import "tailwindcss";

:root {
  --background: hsl(240, 2%, 8%);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);
  --font-mono: var(--font-ubuntu-mono);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
