ol {
    list-style-type: decimal;
    margin-left: 1rem;
}

blockquote {
    padding: 1rem;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-radius: 0.5rem;
    font-style: oblique;
}
